@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}

body {
  background-color: rgba(231, 231, 231, 0.856);
  background-image: radial-gradient(
      at 0% 0%,
      rgb(214, 232, 255) 0,
      transparent 50%
    ),
    radial-gradient(at 50% 100%, rgb(243, 218, 218) 0, transparent 50%),
    radial-gradient(at 100% 0%, rgb(232, 216, 253) 0, transparent 50%);

  background-size: cover;
  background-repeat: no-repeat;
  @apply min-h-screen;
}

@layer base {
  h1 {
    @apply font-normal text-3xl md:text-4xl;
  }
  h2 {
    @apply font-medium text-2xl;
  }
}
